:root {
    --base-font-size: 16;

    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Roboto Flex', sans-serif;
}

html {
    font-family: var(--primary-font-family);
    font-size: min(calc(var(--base-font-size) / 1920 * 100vw), 16px);
    background-color: #191919;
    color: #ffffff;

    @media (max-width: 767px) {
        font-size: calc(var(--base-font-size) / 360 * 100vw);
    }

    & * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

body {
    position: relative;
    padding-top: calc(40 / var(--base-font-size) * 1rem);

    @media (max-width: 767px) {
        padding-top: calc(18 / var(--base-font-size) * 1rem);
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

section {
    overflow: hidden;
    max-width: 100vw;
    width: 100%;
}

.title {
    font-family: var(--secondary-font-family);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-inline: calc(90 / var(--base-font-size) * 1rem);
    max-width: 1920px;
    width: 100%;

    @media (max-width: 767px) {
        padding-inline: calc(20 / var(--base-font-size) * 1rem);
    }
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(45 / var(--base-font-size) * 1rem);
    padding-inline: calc(100 / var(--base-font-size) * 1rem);

    @media (max-width: 767px) {
        justify-content: space-between;
        gap: calc(20 / var(--base-font-size) * 1rem);
        padding-inline: calc(20 / var(--base-font-size) * 1rem);
    }
}

.header__logo {
    width: calc(282 / var(--base-font-size) * 1rem);
    height: auto;

    @media (max-width: 767px) {
        width: calc(150 / var(--base-font-size) * 1rem);
    }
}

.header__contact {
    margin-left: auto;
    font-family: var(--secondary-font-family);
    font-size: calc(18 / var(--base-font-size) * 1rem);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;

    @media (max-width: 767px) {
        display: none;
    }
}

.header__menu-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(2 / var(--base-font-size) * 1rem);
    padding: calc(5 / var(--base-font-size) * 1rem);
    background-color: transparent;
    border: none;
    cursor: pointer;

    & svg {
        display: flex;
        transition: transform 0.3s ease-out;
        width: calc(10 / var(--base-font-size) * 1rem);
        height: auto;
    }
}

.header__menu-button--active {
    & svg {
        &:nth-child(1) {
            transform: translate(100%, 100%) scale(0.5);
        }

        &:nth-child(2) {
            z-index: 2;
            transform: translate(-59%, 55%) scale(2.4);
        }

        &:nth-child(3) {
            transform: translate(100%, -100%) scale(0.5);
        }

        &:nth-child(4) {
            transform: translate(-100%, -100%) scale(0.5);
        }
    }
}

.hero__container {
    padding-block: calc(179 / var(--base-font-size) * 1rem)
        calc(235 / var(--base-font-size) * 1rem);
    min-height: calc(1080 / 1920 * 100vw - 87px);

    @media (max-width: 767px) {
        padding-block: calc(70 / var(--base-font-size) * 1rem)
            calc(267 / var(--base-font-size) * 1rem);
    }
}

.hero__head {
    display: flex;
    flex-direction: column;
    gap: calc(40 / var(--base-font-size) * 1rem);

    @media (max-width: 767px) {
        gap: calc(102 / var(--base-font-size) * 1rem);
    }
}

.hero__title {
    display: flex;
    flex-direction: row;
    align-content: center;

    & svg {
        height: auto;

        &:nth-child(1) {
            width: calc(673 / var(--base-font-size) * 1rem);

            @media (max-width: 767px) {
                width: calc(123 / var(--base-font-size) * 1rem);
            }
        }

        &:nth-child(2) {
            width: calc(495 / var(--base-font-size) * 1rem);
            margin-top: calc(4 / var(--base-font-size) * 1rem);
            margin-left: calc(-10 / var(--base-font-size) * 1rem);

            @media (max-width: 767px) {
                width: calc(91 / var(--base-font-size) * 1rem);
                margin: 0;
            }
        }

        &:nth-child(3) {
            width: calc(568 / var(--base-font-size) * 1rem);
            margin-top: calc(4 / var(--base-font-size) * 1rem);
            margin-left: calc(12 / var(--base-font-size) * 1rem);

            @media (max-width: 767px) {
                width: calc(104 / var(--base-font-size) * 1rem);
                margin-top: 0;
                margin-left: calc(3 / var(--base-font-size) * 1rem);
            }
        }
    }
}

.hero__head-bottom {
    display: flex;
    flex-direction: row;
    gap: calc(72 / var(--base-font-size) * 1rem);

    @media (max-width: 767px) {
        flex-direction: column;
        gap: calc(47 / var(--base-font-size) * 1rem);
    }
}

.hero__subtitle {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: calc(40 / var(--base-font-size) * 1rem);
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    transform: scaleX(1.21);
    transform-origin: left center;

    @media (max-width: 767px) {
        font-size: calc(32 / var(--base-font-size) * 1rem);
        transform: scaleX(1.17);
    }
}

.hero__text-group {
    display: flex;
    flex-direction: row;
    gap: inherit;

    @media (max-width: 767px) {
        gap: calc(20 / var(--base-font-size) * 1rem);
        justify-content: space-between;
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font-family);
    font-size: calc(28 / var(--base-font-size) * 1rem);
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    transform: scaleX(1.18);
    transform-origin: right center;

    @media (max-width: 767px) {
        font-size: calc(20 / var(--base-font-size) * 1rem);
        transform: scaleX(1.11);
    }
}

.hero__text-left {
    margin-right: calc(50 / var(--base-font-size) * 1rem);

    @media (max-width: 767px) {
        flex-shrink: 0;
        transform-origin: left center;
        margin-right: 0;
    }
}

.hero__text-right {
    @media (max-width: 767px) {
        flex: 0 1 calc(200 / var(--base-font-size) * 1rem);
        text-align: right;
    }
}

.hero__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    max-height: 1080px;
    overflow: hidden;

    @media (max-width: 767px) {
        display: flex;
        align-content: center;
        justify-content: center;
        max-height: calc(769 / var(--base-font-size) * 1rem);
        height: 100%;
    }
}

.hero__bg-video {
    position: relative;
    margin-top: -3.5%;
    width: 100%;
    height: auto;

    @media (max-width: 767px) {
        width: auto;
        height: 100%;
        margin-top: 0;
    }
}

.about {
    overflow: visible;
}

.about__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(412 / var(--base-font-size) * 1rem);
    padding-block: calc(428 / var(--base-font-size) * 1rem)
        calc(508 / var(--base-font-size) * 1rem);

    @media (max-width: 767px) {
        gap: calc(310 / var(--base-font-size) * 1rem);
        padding-block: calc(225 / var(--base-font-size) * 1rem)
            calc(138 / var(--base-font-size) * 1rem);
    }
}

.about__title {
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: calc(96 / var(--base-font-size) * 1rem);
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    transform: scaleX(1.375);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 767px) {
        transform: scaleX(1.24);
        max-width: calc(260 / var(--base-font-size) * 1rem);
        font-size: calc(40 / var(--base-font-size) * 1rem);
    }

    & > span {
        @media (max-width: 767px) {
            display: contents;
        }

        &:nth-child(1) {
            text-indent: 1.1em;

            @media (max-width: 767px) {
                text-indent: 1.4em;
            }
        }
    }
}

.about__text-group {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(96 / var(--base-font-size) * 1rem);
    width: 100%;
    font-family: var(--secondary-font-family);
    font-size: calc(48 / var(--base-font-size) * 1rem);
    font-weight: 400;
    text-transform: uppercase;

    @media (max-width: 767px) {
        flex-direction: column;
        gap: calc(400 / var(--base-font-size) * 1rem);
        font-size: calc(28 / var(--base-font-size) * 1rem);
    }
}

.about__text {
    line-height: 130%;
}

.about__text-left {
    transform: scaleX(1.25);
    transform-origin: left center;
    text-indent: 1.7em;
    max-width: min-content;

    @media (max-width: 767px) {
        transform: scaleX(1.16);
        text-indent: 2.2em;
    }
}

.about__text-right {
    transform: scaleX(1.23);
    transform-origin: right center;
    text-align: right;

    @media (max-width: 767px) {
        transform: scaleX(1.16);
    }

    & span {
        &:nth-child(1) {
            display: block;

            @media (max-width: 767px) {
                display: contents;
            }
        }

        &:nth-child(2) {
            @media (max-width: 767px) {
                display: block;
            }
        }
    }
}

.about__bg-blur {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -61.5%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;

    & svg {
        width: 100%;
        height: auto;

        @media (max-width: 767px) {
            min-width: calc(900 / var(--base-font-size) * 1rem);
        }
    }
}

.awards {
    z-index: 2;
    background-color: #ffffff;
    color: #333333;
}

.awards__container {
    display: flex;
    flex-direction: column;
    gap: calc(70 / var(--base-font-size) * 1rem);
    padding-block: calc(115 / var(--base-font-size) * 1rem)
        calc(194 / var(--base-font-size) * 1rem);
}

.awards__title {
    font-size: calc(40 / var(--base-font-size) * 1rem);
    text-transform: uppercase;
    transform: scaleX(1.08);
    transform-origin: left center;
    width: max-content;

    @media (max-width: 767px) {
        font-size: calc(32 / var(--base-font-size) * 1rem);
    }
}

.awards__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.awards__item {
    font-size: calc(28 / var(--base-font-size) * 1rem);
    font-weight: 300;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;

    & a {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: calc(90 / var(--base-font-size) * 1rem);
        padding-block: calc(30 / var(--base-font-size) * 1rem);
        padding-right: calc(30 / var(--base-font-size) * 1rem);
        padding-left: calc(20 / var(--base-font-size) * 1rem);
        border-bottom: 1px solid #333333;
        color: inherit;
        text-decoration: none;
        width: 100%;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        &:hover {
            & .awards__item-img {
                opacity: 1;
            }

            & .awards__item-arrow-wrapper {
                & span {
                    opacity: 1;
                }
            }
        }
    }

    &:last-child {
        & a {
            border-bottom: none;
        }
    }
}

.awards__item-img-wrapper {
    align-self: stretch;
    position: relative;
    max-width: calc(256 / var(--base-font-size) * 1rem);
    width: 100%;
}

.awards__item-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-13deg);
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    & img {
        width: 100%;
        height: auto;
    }
}

.awards__item-right {
    flex: 0 0 calc(860 / var(--base-font-size) * 1rem);
    display: flex;
    flex-direction: inherit;
    align-items: inherit;
    gap: inherit;
    margin-left: auto;
}

.awards__item-date {
    margin-left: auto;
}

.awards__item-arrow-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(18 / var(--base-font-size) * 1rem);
    gap: calc(15 / var(--base-font-size) * 1rem);

    & span {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    & svg {
        width: calc(18 / var(--base-font-size) * 1rem);
        height: auto;
    }
}

.mockup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-top: calc(585 / var(--base-font-size) * 1rem);
    pointer-events: none;

    @media (max-width: 767px) {
        padding-top: calc(604 / var(--base-font-size) * 1rem);
    }
}

.mockup {
    position: sticky;
    z-index: 1;
    top: calc(120 / var(--base-font-size) * 1rem);
    max-width: calc(698 / var(--base-font-size) * 1rem);

    @media (max-width: 767px) {
        max-width: calc(320 / var(--base-font-size) * 1rem);
    }
}

.mockup__img {
    width: 100%;

    & img {
        width: 100%;
        height: auto;
    }
}

.mockup__video {
    position: absolute;
    top: 1.3%;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    height: auto;
}
